# Pandas Series object

In [2]:
import pandas as pd
s1=pd.Series([1,2,3,4,5])
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [10]:
print(s1[2])
print(s1[:2])
print(s1[3:])

3
0    1
1    2
dtype: int64
3    4
4    5
dtype: int64

In [3]:
s2=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
s2

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [4]:
s3=pd.Series({'a':1,'b':2,'c':3})
s3

a    1
b    2
c    3
dtype: int64

In [5]:
s4=pd.Series({'a':1,'b':2,'c':3},index=['a','b','c','d','e'])
s4

a    1.0
b    2.0
c    3.0
d    NaN
e    NaN
dtype: float64

In [11]:
s3+s4

a    2.0
b    4.0
c    6.0
d    NaN
e    NaN
dtype: float64

# pandas DataFrame

In [13]:
df1=pd.DataFrame({'name':['jas','chin','hit','mur'],'marks':[90,80,70,90]})
df1

   name  marks
0   jas     90
1  chin     80
2   hit     70
3   mur     90